<!DOCTYPE html>
<html>
<head>
    <title>Message History</title>
</head>
<body>
    <h2>Your Messages</h2>
    <table>
        <tr>
            <th>Unique ID</th>
            <th>Recipient</th>
            <th>Content</th>
            <th>Timestamp</th>
        </tr>
        {% for message in messages %}
        <tr>
            <td>{{ message.unique_id }}</td>
            <td>{{ message.recipient }}</td>
            <td>{{ message.content }}</td>
            <td>{{ message.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'send_message' %}">Send New Message</a>
    <a href="{% url 'change_name' %}">Change Name</a>
</body>
</html>
